body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #730202;
}
@media (min-width: 768px) {
	#links {
		display: none;
	}
}

#links {
	font-size: 1.5em;
	color: #380000;
	font-weight: bold;
	text-align: center;
}
#links:hover {
	background-color: #ff9696;
}

.main-content {
	width: 100%;
	padding: 20px;
	background-color: #c74646;
	font-size: 1.3em;
	color: #380000;
}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 90%;
	background-color: #fff;
	box-shadow: -9px 9px 29px 4px rgba(0,0,0,1);
-webkit-box-shadow: -9px 9px 29px 4px rgba(0,0,0,1);
-moz-box-shadow: -9px 9px 29px 4px rgba(0,0,0,1);
}

.center-text {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	font-weight: bold;
	color: #fff;
}
.container-fluid {
	height: 100%;
	background-color: #c74646;
}
.navbar .navbar-default {
	background-color: #c74646;	
}
.item-name {
	text-align: center;
	font-size: 1.8em;
	color: #380000;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 30px;
}	